@page "/budget"


    <h3>Budget</h3>

    <div class="container">
        <div class="row">

            <div class="col">
                <h1>Expenses</h1>
                <BudgetStatisticTableBase></BudgetStatisticTableBase>
            </div>

            <div class="col">
                <h1>Incomes</h1>
                <BudgetStatisticTableBase></BudgetStatisticTableBase>
            </div>

        </div>
    </div>