@page "/expenses"

@using FinanceManager.Components.Transactions;

<h3>Expenses</h3>

<div class="container">

    <div class="row">
        <TransactionEditForm
             TransactionType="@TransactionType"
             AddNewTransactionCallback="AddNewTransactionHandler">
        </TransactionEditForm>
    </div>

    <div class="row">
        <TransactionsTableBase @ref="transactionTable" Transactions="@Transactions"></TransactionsTableBase>
    </div>
</div>
