@page "/incomes"

<h3>Incomes</h3>

<div class="container">
    <div class="row">
        <h3>Incomes transaction list</h3>
        <TransactionsTableBase Transactions="Transactions"></TransactionsTableBase>
    </div>
</div>
